:root {
   --ff-terminal-grotesque-open: "Terminal Grotesque Open", sans-serif;
   --ff-terminal-grotesque: "Terminal Grotesque", sans-serif;
   --ff-inter: "Inter", sans-serif;
   --clr-bg: white;
   --clr-text: #2f3843;
   --clr-bg-nav: #4A2787;
   --clr-txt-nav: #fbe9d1;
   --nav-height: 4rem;
}

body {
   color: var(--clr-text);
   background-image: url("./../assets/images/brain-ai.svg");
}

header {
   height: 7rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

nav {
   display: flex;
   justify-content: flex-end;
   align-items: center;

   height: var(--nav-height);
   width: 70%;
   padding-inline: 3rem;

   background-color: var(--clr-bg-nav);
   color: var(--clr-text);
   border-radius: 0.125rem;
   box-shadow: rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -10px 10px, rgba(240, 46, 170, 0.1) -15px 15px, rgba(240, 46, 170, 0.05) -20px 20px;

   position: sticky;
   top: 0;
   z-index: 100;
}

.nav-links {
   display: flex;
   letter-spacing: 0.1rem;

   font-family: var(--ff-terminal-grotesque);
   font-size: 0.85rem;
   font-weight: 400;

   & a {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 17.5rem;
      height: var(--nav-height);
      transition: letter-spacing 0.3s ease-in-out;

      color: var(--clr-txt-nav);
      cursor: pointer;
   }

   & a:hover {
      animation: glow 1.5s ease-in-out infinite;
      letter-spacing: 1rem;
   }

   & li {
      transition: background-color 0.3s ease-in-out;
   }

   & li:hover {
      background-color: #5A32A1;
   }
}

@keyframes glow {
   0%,
   100% {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.8),
         0 0 6px rgba(0, 150, 255, 0.5), 0 0 10px rgba(0, 150, 255, 0.4);
   }
   50% {
      text-shadow: 0 0 6px rgba(255, 255, 255, 1),
         0 0 12px rgba(0, 150, 255, 0.9), 0 0 18px rgba(0, 150, 255, 0.7);
   }
}

.is-active {
   animation: glow 1.5s ease-in-out infinite;
}

main {
   height: calc(100dvh - var(--nav-height));
   display: flex;
   justify-content: flex-end;
   gap: 5rem;
}

.profile-img {
   width: 42rem;
   position: fixed;
   bottom: 0;
   left: 0;
   transform: translate(-10%);
}

.profile-info {
   display: flex;
   flex-direction: column;
   margin-block: 5.5rem;
   margin-right: 3rem;
   position: absolute;
   z-index: 99;
   width: 50rem;
   cursor: default;

   & h1 {
      font-family: var(--ff-terminal-grotesque);
      font-size: 5rem;
      padding-bottom: 1.75rem;
   }

   & p {
      font-family: var(--ff-terminal-grotesque);
      font-size: 0.85rem;
      padding-left: 0.5rem;
      width: 20rem;
      line-height: 1.5;
      padding-bottom: 1rem;
      letter-spacing: 0.01rem;
      color: #333333;
      user-select: text;
   }
}

.font-anim {
   & span {
      display: inline-block;
      transition: font-family 0.3s ease-in-out, color 0.3s ease-in-out;
   }
  
   & span:hover {
      font-family: var(--ff-terminal-grotesque-open);
      color: #D4D9D5;
   }
}
