@font-face {
   font-family: "Inter";
   font-style: normal;
   font-weight: 100 900;
   font-display: swap;
   src: url(./../assets/fonts/Inter-VariableFont_opsz\wght.woff2)
      format("woff2-variations");
}

@font-face {
   font-family: "Inter";
   font-style: italic;
   font-weight: 100 900;
   font-display: swap;
   src: url(./../assets/fonts/Inter-Italic-VariableFont_opsz\wght.woff2)
      format("woff2-variations");
}

@font-face {
   font-family: "Terminal Grotesque";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url(./../assets/fonts/TerminalGrotesque.woff2) format("woff2");
}

@font-face {
   font-family: "Terminal Grotesque Open";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url(./../assets/fonts/TerminalGrotesqueOpen.woff2) format("woff2");
}

@font-face {
   font-family: "Kollektif";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url(./../assets/fonts/kollektif-regular.woff2) format("woff2"),
      url(./../assets/fonts/kollektif-regular.woff) format("woff");
}

@font-face {
   font-family: "Kollektif";
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url(./../assets/fonts/kollektif-bold.woff2) format("woff2"),
      url(./../assets/fonts/kollektif-bold.woff) format("woff");

}